In [1]:
import os
os.getcwd()

'C:\\Users\\HP\\Desktop\\RSIP project 2020\\python codes'

In [2]:
os.chdir("C:\\Users\\HP\\Desktop\\RSIP project 2020\\data sets")
os.getcwd()

'C:\\Users\\HP\\Desktop\\RSIP project 2020\\data sets'

In [3]:
import numpy as np
import pandas as pd
data1=pd.read_csv("Health monitoring.csv")
data1

     SBP  DBP  Pulse  Temperature  Level
0    120   80     80           98      0
1    140   83     75          100      1
2    155  100     92          104      2
3    115   82     79           97      0
4    119   79     85          102      1
..   ...  ...    ...          ...    ...
144  154   99     83          103      2
145  118   77     73           98      0
146  125   87     79          102      1
147  132   88     78          101      1
148  118   82     74           98      0

[149 rows x 5 columns]

In [4]:
data1.describe()

              SBP         DBP       Pulse  Temperature       Level
count  149.000000  149.000000  149.000000   149.000000  149.000000
mean   123.516779   81.261745   75.550336    99.926174    0.993289
std     14.486995    9.752613    5.344151     2.056939    0.850252
min     95.000000   60.000000   60.000000    94.000000    0.000000
25%    117.000000   77.000000   72.000000    98.000000    0.000000
50%    119.000000   80.000000   76.000000   100.000000    1.000000
75%    132.000000   88.000000   79.000000   101.000000    2.000000
max    155.000000  101.000000   92.000000   106.000000    2.000000

In [5]:
data1.cov()

                    SBP         DBP      Pulse  Temperature     Level
SBP          209.873027  133.357065  42.990704     7.545166  2.571059
DBP          133.357065   95.113459  27.037412     3.749184  0.900417
Pulse         42.990704   27.037412  28.559949     4.317930  1.746962
Temperature    7.545166    3.749184   4.317930     4.230999  1.134636
Level          2.571059    0.900417   1.746962     1.134636  0.722928

In [6]:
data1.corr()

                  SBP       DBP     Pulse  Temperature     Level
SBP          1.000000  0.943880  0.555287     0.253203  0.208731
DBP          0.943880  1.000000  0.518759     0.186894  0.108586
Pulse        0.555287  0.518759  1.000000     0.392804  0.384465
Temperature  0.253203  0.186894  0.392804     1.000000  0.648766
Level        0.208731  0.108586  0.384465     0.648766  1.000000

In [7]:
data1.head()

   SBP  DBP  Pulse  Temperature  Level
0  120   80     80           98      0
1  140   83     75          100      1
2  155  100     92          104      2
3  115   82     79           97      0
4  119   79     85          102      1

In [7]:
data1.tail()

     SBP  DBP  Pulse  Temperature  Level
144  154   99     83          103      2
145  118   77     73           98      0
146  125   87     79          102      1
147  132   88     78          101      1
148  118   82     74           98      0

In [8]:
data1.columns

Index(['SBP', 'DBP', 'Pulse', 'Temperature', 'Level'], dtype='object')

In [9]:
data1.dtypes

SBP            int64
DBP            int64
Pulse          int64
Temperature    int64
Level          int64
dtype: object

In [11]:
data1['Temperature'].unique()

array([ 98, 100, 104,  97, 102, 101,  99, 103,  95,  94, 105, 106],
      dtype=int64)

In [12]:
data1['Pulse']

0      80
1      75
2      92
3      79
4      85
       ..
144    83
145    73
146    79
147    78
148    74
Name: Pulse, Length: 149, dtype: int64

In [13]:
data1[0:8]

   SBP  DBP  Pulse  Temperature  Level
0  120   80     80           98      0
1  140   83     75          100      1
2  155  100     92          104      2
3  115   82     79           97      0
4  119   79     85          102      1
5   95   65     75          101      2
6  116   75     70           99      0
7  100   60     79           98      2

In [15]:
mean_temp=data1['Temperature'].mean()
mean_temp

99.9261744966443

In [17]:
data1.shape

(149, 5)

In [18]:
data1.pivot_table(data1,index=['Temperature'])

                   DBP     Level      Pulse         SBP
Temperature
94           60.000000  2.000000  65.000000   99.000000
95           65.000000  2.000000  62.000000  100.000000
97           82.000000  0.000000  79.000000  115.000000
98           79.022727  0.250000  73.250000  118.522727
99           80.240000  0.560000  73.680000  122.200000
100          85.076923  1.192308  77.923077  130.346154
101          83.000000  1.421053  76.842105  124.947368
102          81.466667  1.800000  77.000000  125.000000
103          82.000000  2.000000  81.666667  127.333333
104          85.571429  2.000000  79.714286  134.571429
105          79.000000  2.000000  73.666667  119.333333
106          79.000000  2.000000  76.000000  118.000000

In [19]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SBP          149 non-null    int64
 1   DBP          149 non-null    int64
 2   Pulse        149 non-null    int64
 3   Temperature  149 non-null    int64
 4   Level        149 non-null    int64
dtypes: int64(5)
memory usage: 5.9 KB

In [20]:
data1['Pulse'].value_counts()

79    18
76    17
70    16
80    14
75    14
74     8
82     8
78     7
73     6
69     5
68     5
77     4
84     4
81     3
65     3
85     3
72     3
83     2
71     2
64     2
62     1
92     1
66     1
67     1
60     1
Name: Pulse, dtype: int64

In [21]:
data1['DBP'].value_counts()

78     19
79     15
87     10
80      8
88      8
85      7
76      6
68      6
77      5
90      5
65      5
89      4
92      4
86      4
95      4
99      4
60      4
67      3
69      2
75      2
64      2
101     2
100     2
83      2
84      2
94      2
96      2
82      2
81      1
73      1
91      1
93      1
66      1
98      1
63      1
62      1
Name: DBP, dtype: int64

In [22]:
data1['SBP'].value_counts()

118    17
119    14
120     9
117     8
116     7
126     7
128     6
100     5
127     5
132     4
130     4
115     3
104     3
145     3
146     3
99      3
140     3
101     3
148     3
147     3
98      2
151     2
149     2
125     2
114     2
136     2
154     2
106     2
105     2
134     2
135     2
107     1
110     1
102     1
155     1
124     1
129     1
131     1
133     1
139     1
142     1
150     1
152     1
153     1
95      1
Name: SBP, dtype: int64