In [1]:
import os
os.getcwd()

'C:\\Users\\HP\\Desktop\\RSIP project 2020\\python codes'

In [2]:
os.chdir("C:\\Users\\HP\\Desktop\\RSIP project 2020\\data sets")
os.getcwd()

'C:\\Users\\HP\\Desktop\\RSIP project 2020\\data sets'

# importing the dataset and libraries

In [3]:
import numpy as np
import pandas as pd
data1=pd.read_csv("Health monitoring.csv")
data1

     SBP  DBP  Pulse  Temperature  Level
0    120   80     80           98      0
1    140   83     75          100      1
2    155  100     92          104      2
3    115   82     79           97      0
4    119   79     85          102      1
..   ...  ...    ...          ...    ...
144  154   99     83          103      2
145  118   77     73           98      0
146  125   87     79          102      1
147  132   88     78          101      1
148  118   82     74           98      0

[149 rows x 5 columns]