In [1]:
import os
os.getcwd()

'C:\\Users\\HP\\Desktop\\RSIP project 2020\\python codes'

In [2]:
os.chdir("C:\\Users\\HP\\Desktop\\RSIP project 2020\\data sets")
os.getcwd()

'C:\\Users\\HP\\Desktop\\RSIP project 2020\\data sets'

In [3]:
import numpy as np
import pandas as pd
data1=pd.read_csv("Health monitoring.csv")
data1

     SBP  DBP  Pulse  Temperature  Level
0    120   80     80           98      0
1    140   83     75          100      1
2    155  100     92          104      2
3    115   82     79           97      0
4    119   79     85          102      1
..   ...  ...    ...          ...    ...
144  154   99     83          103      2
145  118   77     73           98      0
146  125   87     79          102      1
147  132   88     78          101      1
148  118   82     74           98      0

[149 rows x 5 columns]

In [4]:
data1['Temperature'].min()

94

In [5]:
data1['SBP'].min()

95

In [6]:
data1['DBP'].min()

60

In [7]:
data1['SBP'].max()

155

In [8]:
data1['DBP'].max()

101

In [9]:
data1['Pulse'].max()

92

In [11]:
data1['Temperature'].max()

106

In [12]:
data1['Temperature'].median()

100.0

In [13]:
data1['SBP'].median()

119.0

In [14]:
data1['DBP'].median()

80.0

In [15]:
data1['Pulse'].median()

76.0

In [16]:
np.std(data1['Temperature'])

2.050025240412771

In [17]:
np.std(data1['Pulse'])

5.326187351142746

In [18]:
np.std(data1['SBP'])

14.438299192835025

In [19]:
np.std(data1['DBP'])

9.719830951905267

In [20]:
np.var(data1['DBP'])

94.47511373361566

In [21]:
np.var(data1['SBP'])

208.46448358182056

In [22]:
np.var(data1['Pulse'])

28.368271699472977

In [23]:
np.var(data1['Temperature'])

4.202603486329438

# finding the missing values

In [24]:
#Get a count of missing values in the dataset
data1.apply(lambda x: sum(x.isnull()),axis=0)

SBP            0
DBP            0
Pulse          0
Temperature    0
Level          0
dtype: int64

# Observation

In [26]:
#There is no missing values in the given dataset.